*{
    background-color: rgb(219, 219, 219);
}
h1 {
    font-size: 30px;
    text-decoration: underline;
    color: gray;
    background-color: rgb(233, 233, 233);
}
.link{
    text-decoration: underline;
    color: rgb(240, 62, 39);
}

.parrafo{
    font-size: 20px;
    color: blue;
    background-color: rgb(138, 154, 245);
    text-transform: lowercase;
}

.imagen{
   height: 300px;
}
h2{
    color: brown;
    background-color: rgb(226, 143, 143);
}
.h2{
    color: rgb(31, 196, 141);
    background-color: rgb(192, 243, 243);
}

#color{
    color: blue;
}

.valles{
    color: blueviolet;
}